@{
    ViewData["Title"] = "Home Page";
}
<style>
    .console-container {
        white-space: pre;
        font-family: Consolas, monospace;
        font-size: 10pt;
        color: aliceblue;
        min-height: 50px;
        width: 100%;
        padding: 4px;
        background: #333;
    }

    .console-active {
        border: 4px solid green;
        
    }

    .console-error {
        border: 4px solid red;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <input type="text" name="consoleText" id="consoleIn"/>
    <button onclick="runConsoleCommand(this);">Run...</button>

</div>
<div class="row">
    <p class="text-right">
        <a href="#" class="d-none" id="console-next-top">Next</a>
    </p>
    
    <div class="console-container" id="consoleOut"></div>
    <p class="text-right">
        <a href="#" class="d-none" id="console-next-bottom">Next</a>
    </p>
</div>
<pre id="debug"></pre>

<script>

   
    function runConsoleCommand(e) {
        var cmd = document.getElementById('consoleIn').value;
        $.post('/Home/ConsoleStart',
                {
                    "consoleText": cmd
                })
            .done(function (r) {
                $('#consoleOut').addClass("console-active");
                updateConsole(r);
                startRefresh(r);
            })
            .fail(function (ee) {
                $('#consoleOut').addClass("console-error");
                document.getElementById('consoleOut').innerHTML = ee;
            });
    }

    function updateConsole(cons) {
        //document.getElementById('debug').innerHTML = JSON.stringify(cons, null, ' ');
        var v = document.getElementById('consoleOut').getAttribute("data-version");

        if (v !== cons.version) {
            window.location.hash = '#'+cons.handle;
            document.getElementById('consoleOut').innerHTML = cons.htmlContent;
            document.getElementById('consoleOut').setAttribute("data-version", cons.version);
            
            if (cons.doneUrl != null) {
                document.getElementById('console-next-top').href = cons.doneUrl;
                document.getElementById('console-next-top').className = 'btn btn-primary';

                document.getElementById('console-next-bottom').href = cons.doneUrl;
                document.getElementById('console-next-bottom').className = 'btn btn-primary';
            }
        }
        
    }

    function startRefresh(cons) {
        setInterval(function () {
                $.ajax(cons.updateUrl)
                    .done(function (aa) {
                        updateConsole(aa);
                    });
            },
            1000);
    }
</script>
