@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <form asp-action="ConsoleStart">
        <input type="text" name="consoleText" id="consoleIn" class="form-control"/>

        <input type="submit" class="btn btn-primary"/>
    </form>  
</div>

